@import url(movil.css)  screen and (max-width: 600px);
@import url(tablet.css) screen and (min-width: 601px) and (max-width: 1200px);  
@import url(escritorio.css) screen and (min-width: 1201px);

img{
    width: 25%;
    float: left;
    box-sizing: border-box;
}

@media(max-width: 1000px){
    img{
        width: 33.33%;
    }
}

@media(max-width: 700px){
    img{
        width: 50%;
    }
}


@media(max-width: 400px){
    img{
        width: 100%;
    }
}

div{
    float: none;
    display: block;
    width: 100%;
}